body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #182C61;
  color: white;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 157, 255);
  background-color: transparent;
  text-decoration: underline;
}

.title li {
  display: inline;
}

#select {
  margin-left: 20px;
  font-weight: bold;
}

.name {
  font-size: 20px;
  font-weight: bolder;
}

.code_editor {
  height: 441px;
}

#cmd-in{
  margin-left: 100px;
}

.run-btn button {
  margin: 1px 0px 3px 0px;
  width: 70px;
  cursor: pointer;
  background-color: #25CCF7;
}

.output {
  margin-top: 0px;
  height: 190px;
  width: auto;
  background: black;
  color: white;
}

.output textarea {
  margin: 0px;
  width: 99%;
  background-color: black;
  color: white;
  resize: none;
  border: none;
}

.input {
  margin-top: 0px;
  height: 190px;
  width: auto;
  background: black;
  color: white;
}

.input textarea {
  margin: 0px;
  width: 99%;
  background-color: black;
  color: white;
  resize: none;
  border: none;
}

/* Added Border Radius to the DropDown Buttons and run Buttons */
select {
  padding: 5px 0%;
  border: none;
  outline: none;
  border-radius: 5px;
}
.run-btn {
  padding: 5px;
  border-radius: 5px;
}
