html {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background: #010A43;
    // background-image: linear-gradient(#4700D8, #8700d4);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    min-height: 100vh;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1vh 0 0 0;

    .title {
        padding: 1vh 1vw;
        justify-content: center;
        font-weight: 900;
        font-size: larger;
        text-align: center;

    }

    .select {
        display: flex;
        justify-content: center;

        div {
            padding: 1vh 1vw;
        }
    }

    .run {
        display: flex;
        justify-content: center;

        div {
            padding: 1vh 1vw;
        }
    }

    select {
        padding: 5px 0%;
        border: 2px solid #000;
        outline: none;
        border-radius: 5px;
    }

    input {
        padding: 5px;
        border-radius: 5px;
        border: 2px solid #000;
    }

    .run-btn {
        padding: 5px;
        border-radius: 5px;
        border: 2px solid #000;
        width: 70px;
        cursor: pointer;
        background-color: #25CCF7;
    }

    .run-btn:hover {
        background: #7ae4ff;
    }

}

.container {
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw;

    .code_editor {
        height: 60vh;
        width: 100%;
        border-radius: 5px;
        border: 0.01rem solid #000;
    }

    .io {

        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;

        .output,
        .input {
            flex-grow: 1;

            textarea {
                width: 99%;
                background-color: black;
                border-radius: 5px;
                color: white;
                resize: none;
                border: 0.01rem solid white;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 2vh 1vw;

    a {
        text-decoration: none;

    }

    a:visited {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: #F00;
    }

}

@media only screen and (max-width: 700px) {

    .input,
    .output,
    .title,
    .select,
    .run,
    footer div {
        width: 100%;
    }
}


/*Loading Animation*/

.center {
    height: 100vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 3;
}

.wave {
    width: 5px;
    height: 100px;
    background: linear-gradient(45deg, cyan, #fff);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
}

.wave:nth-child(2) {
    animation-delay: 0.1s;
}

.wave:nth-child(3) {
    animation-delay: 0.2s;
}

.wave:nth-child(4) {
    animation-delay: 0.3s;
}

.wave:nth-child(5) {
    animation-delay: 0.4s;
}

.wave:nth-child(6) {
    animation-delay: 0.5s;
}

.wave:nth-child(7) {
    animation-delay: 0.6s;
}

.wave:nth-child(8) {
    animation-delay: 0.7s;
}

.wave:nth-child(9) {
    animation-delay: 0.8s;
}

.wave:nth-child(10) {
    animation-delay: 0.9s;
}

@keyframes wave {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}